body{
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 18px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #e5e7ebe8;
    font-size: 18px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
}

.section-1{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 110px;
    gap: 50px;
}

.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

p{
    color: #e5e7ebe8;
    font-size: 18px;
}

button{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    width: 124px;
    height: 35px;
    border: 0;

    font-size: 18px;
}

img{
    width: 450px;
    height: 260px;
}

.container{
    max-width: 450px;
}

.placeholder {
    background-color: gray;
}